# Core functionality - changes here should be rare!
/src/app.py                   @Sohamj23
/src/backend/database.py      @Sohamj23
/src/backend/routers/auth.py  @Sohamj23

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Sohamj23
